/* Metaboxes */
.postbox[id^=bfw],
.postbox[id^=bfw] .postbox-header {
    border-color: #3784f4;
}
.postbox[id^=bfw] .postbox-header {
    background-color: #3784f4;
}
.postbox[id^=bfw] .postbox-header h2 {
    color: #fff;
}
.postbox[id^=bfw] .handle-order-higher,
.postbox[id^=bfw] .handle-order-lower {
    color: #e9e9e9;
}
.postbox[id^=bfw] .handle-order-higher[aria-disabled=true],
.postbox[id^=bfw] .handle-order-lower[aria-disabled=true] {
    color: #bdbdbd;
}
.postbox[id^=bfw] .toggle-indicator {
    color: #e9e9e9;
}
.bfw-metabox-field-container {
    display: flex;
    align-items: center;
}
.bfw-metabox-field-container:not(:last-child) {
    margin-bottom: 15px;
}
.bfw-metabox-field-container .bfw-metabox-label {
    font-weight: 500;
    width: 30%;
    min-width: 150px;
}
.bfw-metabox-field-container .bfw-metabox-field {
    width: 100%;
    margin: 0;
    flex-grow: 1;
}
.bfw-metabox-submit-container {
    text-align: right;
}

/* Order Refund Metabox */
#bfw-order-refund-metabox {
    display: none;
}

/* Order Refund Information  */
#bfw-order-refund-information {
    background-color: #fff;
    border-radius: 50px;
    margin-top: 7px;
    display: flex;
}
#bfw-order-refund-information .bfw-order-refund-label,
#bfw-order-refund-information .bfw-order-refund-id {
    font-weight: 500;
    border: 2px solid #3784f4;
    border-radius: 50px;
    padding: 4px 15px;
    white-space: nowrap;
}
#bfw-order-refund-information .bfw-order-refund-label {
    background-color: #3784f4;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 7px;
}
#bfw-order-refund-information .bfw-order-refund-id {
    color: #3784f4;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 7px;
}

/* Required asterisk */
span.bfw-required {
    color: #f00;
    padding-left: 3px;
}
